### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

combined_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

total_number_schools = len(combined_data["school_name"].unique())
total_students = combined_data["Student ID"].count()

total_budget = school_data["budget"].sum()

avg_math_score = combined_data["math_score"].mean()
avg_reading_score = combined_data["reading_score"].mean()
passing_math_count = combined_data[(combined_data["math_score"]>=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students)*100
passing_reading_count = combined_data[(combined_data["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students)*100
overall_passing_parcentage = (avg_math_score + avg_reading_score)/2

print(total_number_schools,total_students,total_budget,avg_math_score,
     avg_reading_score,passing_math_count,passing_math_percentage,passing_reading_count,
     passing_reading_percentage,overall_passing_parcentage)


district_summary = pd.DataFrame({"Total Schools": [total_number_schools], 
                                 "Total Students": [total_students], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [avg_math_score], 
                                 "Average Reading Score": [avg_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [overall_passing_parcentage]})


district_summary = district_summary[["Total Schools", "Total Students", "Total Budget",
                                     "Average Math Score","Average Reading Score",
                                     "% Passing Math","% Passing Reading",
                                     "% Overall Passing"]]

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


district_summary

15 39170 24649428 78.98537145774827 81.87784018381414 29370 74.9808526933878 33610 85.80546336482001 80.43160582078121

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#schooltype
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [3]:
#total students per school
total_students_per_school = combined_data["school_name"].value_counts()
total_students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [4]:
#total school budget
budget_per_school = combined_data.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [5]:
#budget per student 
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [6]:
#avg math scores per school
avg_math_scores_per_school = round(combined_data.groupby(["school_name"]).mean()["math_score"],2)
avg_math_scores_per_school

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [7]:
#avergae reading scores per school
avg_reading_scores_per_school = round(combined_data.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_scores_per_school

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [8]:
#students passing math by schools
#percentage passing math per schools
students_passing_math = combined_data[(combined_data["math_score"]>=70)]
students_passing_math_per_school = students_passing_math.groupby(["school_name"]).count()["student_name"]
percentage_passing_math_schools = round((students_passing_math_per_school/total_students_per_school)*100,2)
percentage_passing_math_schools

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [9]:
#total students passing reading from the combined data
students_passing_reading = combined_data[combined_data["reading_score"]>=70]
#students_passing_reading

#find students passing reading per school
students_passing_reading_per_school = students_passing_reading.groupby(["school_name"]).count()["student_name"]
#students_passing_reading_per_school

#percentage of students passing reading per school
percentage_passing_reading_per_school = round((students_passing_reading_per_school/total_students_per_school)*100,2)
percentage_passing_reading_per_school

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [10]:
#overall passing rate per school
overall_passing_rate_per_school = (percentage_passing_math_schools + percentage_passing_reading_per_school)/2
overall_passing_rate_per_school

Bailey High School       74.305
Cabrera High School      95.585
Figueroa High School     73.365
Ford High School         73.805
Griffin High School      95.265
Hernandez High School    73.805
Holden High School       94.380
Huang High School        73.500
Johnson High School      73.640
Pena High School         95.270
Rodriguez High School    73.295
Shelton High School      94.860
Thomas High School       95.290
Wilson High School       95.205
Wright High School       94.970
dtype: float64

In [11]:
#creating a summary of the school data
school_summary_data = pd.DataFrame({"School Type":school_type,
                                    "Total Students":total_students_per_school,
                                    "Total School Budget":budget_per_school,
                                    "Budget Per Student":budget_per_student,
                                    "Average Math Score Per School":avg_math_scores_per_school,
                                    "Average Reading Score Per School":avg_reading_scores_per_school,
                                    "% Passing Math Per School":percentage_passing_math_schools,
                                    "% Passing Reading Per School":percentage_passing_reading_per_school,
                                    "Overall Passes":overall_passing_rate_per_school})
school_summary_data

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score Per School,Average Reading Score Per School,% Passing Math Per School,% Passing Reading Per School,Overall Passes
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,74.305
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.585
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.365
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.805
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.265
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,73.805
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,94.380
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.500
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.640
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.270
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.295
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,94.860
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.290
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.205
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,94.970

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [12]:
top_performing_schools = school_summary_data.sort_values(["Overall Passes"],ascending = False).head(5)
top_performing_schools

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score Per School,Average Reading Score Per School,% Passing Math Per School,% Passing Reading Per School,Overall Passes
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.585
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.290
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.270
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.265
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.205

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [13]:
tail_schools = school_summary_data.sort_values(["Overall Passes"],ascending = False).tail(5)
tail_schools

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score Per School,Average Reading Score Per School,% Passing Math Per School,% Passing Reading Per School,Overall Passes
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,73.805
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.640
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.500
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.365
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.295

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [14]:
math_score_by_grade = round(combined_data.groupby(["grade"]).mean()["math_score"],2)
math_score_by_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [15]:
reading_score_by_grade = round(combined_data.groupby(["grade"]).mean()["reading_score"],2)
reading_score_by_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [16]:
#create bins for holding data
bins = [0, 600, 630, 660, 690]
spending_per_student = ["<=$600", "$601<=$630", "$631<=$660", "$661<=$690"]

school_summary_data["Spending/Student"] = pd.cut(budget_per_student,bins,labels = spending_per_student)
school_summary_data

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score Per School,Average Reading Score Per School,% Passing Math Per School,% Passing Reading Per School,Overall Passes,Spending/Student
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,74.305,$601<=$630
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.585,<=$600
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.365,$631<=$660
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.805,$631<=$660
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.265,$601<=$630
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,73.805,$631<=$660
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,94.380,<=$600
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.500,$631<=$660
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.640,$631<=$660
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.270,$601<=$630
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.295,$631<=$660
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,94.860,<=$600
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.290,$631<=$660
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.205,<=$600
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,94.970,<=$600

## Scores by School Size

* Perform the same operations as above, based on school size.

In [17]:
#bins for schools based on size
bin_sizes = [0,1200,2400,3600,4800]
school_population = ["<=1200","1201<=2400","2401<=3600","3601<=4800"]

school_summary_data["School's Population"] = pd.cut(school_summary_data["Total Students"],bin_sizes,labels = school_population)
school_summary_data

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score Per School,Average Reading Score Per School,% Passing Math Per School,% Passing Reading Per School,Overall Passes,Spending/Student,School's Population
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,74.305,$601<=$630,NaN
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.585,<=$600,1201<=2400
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.365,$631<=$660,2401<=3600
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.805,$631<=$660,2401<=3600
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.265,$601<=$630,1201<=2400
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,73.805,$631<=$660,3601<=4800
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,94.380,<=$600,<=1200
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.500,$631<=$660,2401<=3600
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.640,$631<=$660,3601<=4800
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.270,$601<=$630,<=1200
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.295,$631<=$660,3601<=4800
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,94.860,<=$600,1201<=2400
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.290,$631<=$660,1201<=2400
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.205,<=$600,1201<=2400
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,94.970,<=$600,1201<=2400

## Scores by School Type

* Perform the same operations as above, based on school type

In [18]:
avg_math_score_school_type = school_summary_data.groupby(["School Type"]).mean()["Average Math Score Per School"]
avg_reading_score_school_type = school_summary_data.groupby(["School Type"]).mean()["Average Reading Score Per School"]
percentage_passing_math_type = school_summary_data.groupby(["School Type"]).mean()["% Passing Math Per School"]
percentage_passing_reading_type = school_summary_data.groupby(["School Type"]).mean()["% Passing Reading Per School"]
overall_passing_rate_type = school_summary_data.groupby(["School Type"]).mean()["Overall Passes"]

In [19]:
scores_school_type = pd.DataFrame({"Average Math Score":avg_math_score_school_type,
                                  "Average Reading Score":avg_reading_score_school_type,
                                  "% Passing Math":percentage_passing_math_type,
                                  "% Passing Reading":percentage_passing_reading_type,
                                  "Overall Passes":overall_passing_rate_type})

scores_school_type = scores_school_type[["Average Math Score","Average Reading Score",
                                        "% Passing Math","% Passing Reading","Overall Passes"]]

scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passes
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,95.103125
District,76.955714,80.965714,66.548571,80.798571,73.673571